NEXT_PUBLIC_SUPABASE_URL=https://ijio.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=analfsknsflDY3NDgsImV4cCI6MjA5NDUyMjc0OH0.cj027ZxX57lgDQk9lyTzgVBCt5vygP68Z2m6zG0OzR4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJhYmFzZSIsInJlZiI6Im5vaGdwbndlYmdkcHptc29nZ3lqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODk0Njc0OCwiZXhwIjoyMDk0NTIyNzQ4fQ.hKiPq56S_Pi48NGoMPUM_yXcEXFbU0SrVdHgpCQxs-s
